@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;

}

a,
li,
p,
h2,
h3 {
  font-family: 'Roboto Condensed', sans-serif;

}

h1 {
  font-size: 1.5rem;
  font-family: 'Archivo', sans-serif;
}

h2 {
  font-size: 1.35rem;
}



html, body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

header, main, footer {
  flex-shrink: 0;
}

header {
  background: rgb(100, 136, 184);
  background: linear-gradient(0deg, rgba(100, 136, 184, 1) 0%, rgba(255, 255, 255, 0.48783263305322133) 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 15px;
}

header nav ul {
  display: flex;
  gap: 10px
}

header nav ul li a {
  background-color: #f00;
  padding: 10px;
  border-radius: 5%;
  transition: padding .5s;
}

header nav ul li a:hover {
  padding: 15px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
}

h1, h2, h3 {
  color: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#banner {
  background-color: rgba(0, 0, 0, .99);
  background-image: url('../img/portico.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  height: 532px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.banner__titulo {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: -3px 1px 8px #000;
  transition: all 0.5s;

}

.banner__titulo:hover{
  transform: scale(1.05);
} 


#curiosidades {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 80%;
  display: block;
}

#curiosidades h2 {
  color: #000;
  padding-bottom: 1%
}

.curiosidades__cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.curiosidades__cards__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 30%;
  border-radius: 10px;
  border: .5px solid rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, .3);
  transition: all .5s;
  
}

.curiosidades__cards__card:hover{
  transform: scale(1.05);
} 

.curiosidades__cards__card__img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.curiosidades__cards__card__img img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;

}

.curiosidades__cards__card__text {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.curiosidades__cards__card__text p {
  margin-top: 5px;
  font-size: 1rem;
}

.curiosidades__cards__card__text a {
  color: #000;

}

.curiosidades__cards__card__mais {
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
  margin-bottom: 1%;


}

.curiosidades__cards__card__mais a {
  padding: 10px;
  border-radius: 5px;
  background-color: #000;

}

#video {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 80%;
  height: 400px;
}

#video iframe {
  width: 100%;
  height: 90%;
  border-radius: 20px
}

#mapa {
  margin-top: 5%;
  width: 40%;
  height: 400px;
}

#mapa iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px
}


footer {
  background: rgb(100, 136, 184);
  background: linear-gradient(0deg, rgba(100, 136, 184, 1) 0%, rgba(255, 255, 255, 1) 100%);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 270px;
  background-color: #444;
  margin-top: 10%;
}

footer span a {
  text-decoration: underline;
  color: #000;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer__icone__github {
  width: 150px;
  height: 150px;
}


.footer__icone__linkedin {
  width: 150px;
  height: 90px;
}






@media (max-width: 460px) {

  /*mobile*/
  header {
    display: flex;
    flex-direction: column;
    height: 20%
  }

  header nav ul li a {
    padding: 5px;
    transition: padding .5s;
  }

  header nav ul li a:hover {
    padding: 8px;
  }
  

  .banner__titulo {
    font-size: 1.5rem;
  }

  .curiosidades__cards {
    flex-direction: column;
    align-items: center;
  }

  .curiosidades__cards__card {
    width: 80%;
  }

  #mapa {
    margin-top: 10%;
    width: 80%;
    height: 400px;
  }
}

@media (min-width: 461px) and (max-width:768px) {

  /*tablet*/

  header {
    display: flex;
    flex-direction: column;
    height: 20%
  }

  header nav ul li a {
    padding: 8px;
    border-radius: 5%;
  }

  header nav ul li a:hover {
    padding: 12px;
  }
  

  .banner__titulo {
    font-size: 2rem;
  }
  .curiosidades__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .curiosidades__cards__card {
    width: 70%;
  }

  #mapa {
    margin-top: 10%;
    width: 80%;
    height: 400px;
  }

}